{% extends "page-model.html" %}
{% block content %}
<h1> Biblioteca</h1>
<p style="text-aling:center;"> Cadastrar Uma Editora</p>
<form enctype="multipart/form-data" action="submit" method="POST">{% csrf_token%}
    <input type="number" name="editora_id" value="{{editora.id}}" hidden>
    <div class="container">
        <div class="form-group">
            <label for="ids">Codigo da Editora</label>
            <input class="form-control" type="text" name="ids" value="{{editora.Id_Ed}}">
        </div>
        <div class="form-group">
            <label for="nome">Nome</label>
            <input class="form-control" name="nome" type="text" value="{{editora.Nome}}">
        </div>
        <div class="form-group">
            <label for="edereco"> Endereço</label>
            <input class="form-control" name="endereco" type="text" value="{{editora.Edereco}}">
        </div>
        <div class="form-group">
            <label for="telefone">telefone</label>
            <input class="form-control" type="text"  name="telefone" value="{{editora.Telefone}}">
        </div>
        <div class="form-group">
            <label for="site"> Site </label>
            <input class="form-control" type="text" name="site" value="{{editora.Site}}">
        </div>
        <button type="submit" class="btn btn-success">
            {% if editora %}
                alterar
            {% else %}
                Cadastar
            {% endif%}
        </button>
         <a class="btn btn-primary" href="/heart/index">Inicio</a>
    </div>
</form>
{%endblock%}