{% load static %}
<title>Bookstore animabus damnatis</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="text-aling:center;">
        <!-- logo-->
        <a class="navar-brand" href="" >
            <img src="{% static 'images/morte.png' %}" alt="logo" width="40px;">
        </a>
        <!-- links-->
        <ul class="navbar-nav">
            <a class="nav-link" href="/heart/index/">
                <li class="nav-item"> home </li>
            </a>
            <a class="nav-link" href="/heart/livros/">
                <li class="nav-item"> livros </li>
            </a>
            <a class="nav-link" href="/heart/editora/">
                <li class="nav-item"> editora </li>
            </a>
            <a class="nav-link" href="/heart/reserva/">
                <li class="nav-item"> reserva</li>
            </a>
            <a class="nav-link" href="/heart/user/">
                <li class="nav-item"> usuarios</li>
            </a>
        </ul>
        <audio controls style="margin-left:700px;">
        	<source src="{% static 'images/Egypt.mp3' %}"  type="audio/mpeg">
        </audio>
    </nav>
</div>
