{% extends "page-model.html" %}
{% block content %}
{%load static%}

<div class="text-center">
    <h1 class="display-4">Bem Vindo :)</h1>
    <p>
        <h5 class="accordion">Sistema Gerenciador de Biblioteca</h5>
    </p>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <span class="glyphicon glyphicon-ok text-primary">
            <i class='fas fa-book-open'></i>
            <i class='fas fa-book-open' style='font-size:48px;'></i>
        </span>
        <h3>Todos os Gêneros </h3>
        <p class="text-muted">Oferecemos o melhor acervo.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <span class="glyphicon glyphicon-plane text-primary">
            <i class="fas fa-globe-americas"></i>
            <i class="fas fa-globe-americas" style="font-size:48px;"></i>
        </span>
        <h3>Aventura</h3>
        <p class="text-muted">viaje sem sair de casa!</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <span class="glyphicon glyphicon-phone text-primary">
            <i class="fa fa-rocket"></i>
            <i class="fa fa-rocket" style="font-size:48px;"></i>
        </span>
        <h3>Ficção</h3>
        <p class="text-muted">venha descobrir novos mundos</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <span class="glyphicon glyphicon-heart text-primary">
            <i class="fa fa-heart "></i>
            <i class="fa fa-heart" style="font-size:48px;"></i>
        </span>
        <h3>Romances</h3>
        <p class="text-muted">..prepare-se para se apaixonar...</p>
    </div>
</div>


<div class="row no-gutter">

    <div class="col-xs-2 col-md-2">
        <img src="{% static 'images/crimes.jpg' %}" alt="" width="200" height="300" />

    </div>
    <div class="col-xs-2 col-md-2">
        <img src="{% static 'images/fadas.jpg' %}" alt="" width="200" height="300" />
    </div>
    <div class="col-xs-2 col-md-2">
        <img src="{% static 'images/ledy.jpg' %}" alt="" width="200" height="300" />
    </div>
    <div class="col-xs-2 col-md-2">
        <img src="{% static 'images/Morte.jpg' %}" alt="" width="200" height="300" />
    </div>
    <div class="col-xs-2 col-md-2">
        <img src="{% static 'images/pent_web.jpg' %}" alt="" width="200" height="300" />
    </div>
    <div class="col-xs-2 col-md-2">
        <img src="{% static 'images/pentest.jpg' %}" alt="" width="200" height="300" />
    </div>
    <div class="col-xs-2 col-md-2">
        <img src="{% static 'images/pijama.jpg' %}" alt="" width="200" height="300" />
    </div>
    <div class="col-xs-2 col-md-2">
        <img src="{% static 'images/pytho.jpg' %}" alt="" width="200" height="300" />
    </div>
    <div class="col-xs-2 col-md-2">
        <img src="{% static 'images/python.jpg' %}" alt="" width="200" height="300" />
    </div>
    <div class="col-xs-2 col-md-2">
        <img src="{% static 'images/rede.jpg'%}" alt="" width="200" height="300" />
    </div>
    <div class="col-xs-2 col-md-2">
        <img src="{% static 'images/serial.jpg' %}" alt="" width="200" height="300" />
    </div>
    <div class="col-xs-2 col-md-2">
        <img src="{% static 'images/invasao.jpg' %}" alt="" width="200" height="300" />
    </div>





</div>




<p>Learn .</p>


{% endblock %}